* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #909090;
    padding: 1rem 0.5rem;
    color: #eee;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

}

nav ul li a {
    padding: 1rem;
    text-decoration: none;
    color: #eee;
}