.header {
  width: 100%;
  height: 120px;
  background-color: beige;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.link {
  margin-left: 570px;
}
.Home {
  margin-right: 50px;
  color: black;
  text-decoration: none;
}
.About {
  color: black;
  text-decoration: none;
}